<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bignerdranch.android.done">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DataBaseAndLogIn.Done"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Done"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivitiesAndFragments.UserActivity"
            android:label="Done"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitiesAndFragments.ListActivity"
            android:label="Done"
            android:parentActivityName=".ActivitiesAndFragments.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitiesAndFragments.TaskActivity"
            android:label="Done"
            android:parentActivityName=".ActivitiesAndFragments.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitiesAndFragments.SettingsActivity"
            android:label="Done"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataBaseAndLogIn.LoginActivity"
            android:label="LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DataBaseAndLogIn.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DataBaseAndLogIn.LogoPageActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".DataBaseAndLogIn.FireBaseDataRetrieve"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>
